form {
    width: 85%;
    max-width: 600px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
}
.txtb{
    border:2px solid gray;
    margin: 8px 0;
    padding: 5px 10px;
    border-radius: 8px;
  }
  .txtb label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
  }
  .txtb input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
  }